/* used for <html> */
:root {
    --bg: #333;
    --text: #f5f5f5;
    --accent: gray;
    font-size: 12px;
}

/* Global */
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    color: var(--text);
    background: var(--bg);
}

/* Info section */
header {
    background-color: var(--accent);
    border-radius: 2rem;
    margin: 2%;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: var(--text);
    font-size: 3rem;
    margin: auto;
    border-bottom: 2px solid var(--text);
}

h2 {
    color: var(--text);
    margin: auto;
}

p {
    color: var(--text);
    font-size: 2rem;
}

.info {
    display: flex;
    height: fit-content;
    width: 90%;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

#main-button {
    max-width: fit-content;
    max-height: fit-content;
    font-size: 2rem;
    color: var(--bg);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
}

/* Main game area */
#gamespace {
    flex: 1;
    position: relative;
}